<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWcfService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
      <client>
        <endpoint address="http://localhost:14050/Recaster"
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IWcfService"
                  contract="RecasterService.IWcfService"
                  name="HttpBindingSender" />
        <endpoint address="net.tcp://127.0.0.1:14051/Recaster"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IWcfService"
                  contract="RecasterService.IWcfService"
                  name="NetTcpBindingSender" />
        <endpoint address="http://localhost:14050/Recaster"
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IWcfService"
                  contract="RecasterService.IWcfService"
                  name="HttpBindingReceiver" />
        <endpoint address="net.tcp://127.0.0.1:14052/Recaster"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IWcfService"
                  contract="RecasterService.IWcfService"
                  name="NetTcpBindingReceiver" />
      </client>
    </system.serviceModel>
</configuration>